:root {
  --div-color: linear-gradient(45deg, #e8f1f26f, #1b98e0, #13293d);
  --div-width: 250px;
  --div-height: 250px;
  --shadow: 3px 3px 10px black;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #1b98e0, #247ba0, #13293d);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

span {
  font-family: "Patrick Hand", cursive;
  text-shadow: 3px 3px 5px black;
  font-size: 30px;
}

.hours {
  width: var(--div-width);
  height: var(--div-height);
  background: var(--div-color);
  box-shadow: var(--shadow);
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.minutes {
  width: var(--div-width);
  height: var(--div-height);
  background: var(--div-color);
  box-shadow: var(--shadow);
  margin: 10px;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.seconds {
  width: var(--div-width);
  height: var(--div-height);
  background: var(--div-color);
  box-shadow: var(--shadow);
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
